@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
:root {
    --mitre-blue: #005B94;
    --mitre-navy: #0D2F4F;
    --mitre-dark-navy: #0B2338;
    --mitre-black: #111921;
    --mitre-light-blue: #87DEFF;
    --mitre-light-silver: #F1F3F4;
    --mitre-silver: #D4D4D3;
    --mitre-dark-gray: #7E8284;
    --ctid-red: #D80101;
  }
body {
    font-family: "Roboto Condensed", "Roboto", sans-serif;
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.7em;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    font-size: 50px;
}

h3 {
    font-weight: 400;
}

h4 {
    font-size: 20px;
}


h5 {
    font-size: 18px;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    font-weight: 200;
}

h4.eyebrow {
    color: var(--mitre-blue);
    margin-bottom: 0;
}

h4.change-type {
    margin-top: 15px;
    margin-bottom: 10px;
}

.home .blue {
    background-color: var(--mitre-dark-navy);
}

.home .blue h1 {
    color: white;
}

.blue h1 span {
    color: var(--mitre-light-blue);
}

.blue h4 {
    text-transform: uppercase;
    color: var(--mitre-light-blue);
}

.disclosures {
    color: var(--mitre-dark-gray);
    font-size: 10pt;
    line-height: initial;
    margin-top: 2rem;
}

.disclosures+.disclosures {
    margin-top: 1rem;
}

.disclosures a,
.disclosures a:visited {
    color: var(--mitre-dark-gray);
}

footer .disclosures {
    text-align: center;
}

/*
 * Home page styles
 */
@media (min-width: 992px) {

    /* Desktop devices; 992px is the bootstrap "lg" size */
    .home {
        display: flex;
    }

    .home .logo {
        height: 25px;
        margin-bottom: 20px;
    }

    .home .form {
        width: 50vw;
        display: inline-block;
        margin: 0 auto;
    }

    .home .blue {
        width: 50vw;
        height: 100vh;
        background-color: var(--mitre-dark-navy);
        overflow: hidden;
        display: inline-block;
    }

    .home .blue .blue-content {
        width: 50%;
        margin: auto;
        margin-top: 30%;
    }

    .form-content {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
    }
}

@media (max-width: 991.98px) {
    /* Phone / table devices */

    .home .blue .blue-content,
    .home .form-content {
        padding: 2em;
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }

    .home .blue a.ctid {
        display: block;
        padding: 2em 0;
        text-align: center;
    }

    .home .logo {
        max-width: 100%;
    }

    .home .blue h1 {
        font-size: 22pt;
    }

    .home .blue p {
        font-size: 12pt;
    }
}

/*
 * Content page styles
 */
.nav li {
    text-transform: uppercase;
}

.nav {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100%;
}

.navbar-toggler svg {
    width: 1.3rem;
    fill: var(--mitre-light-silver);
}

.subnav ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding-left: 0;
}

.subnav li {
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    margin-right: 1rem;
    text-align: left;
    border-bottom: white solid 4px;
}

.subnav li:hover,
.subnav li:active {
    border-bottom: var(--mitre-blue) solid 4px;
}

.floating-buttons {
    background-color: #F0F1F2;
    border-radius: 50%;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    z-index: 300;
}

.floating-buttons svg {
    position: relative;
}

.overview-table {
    text-transform: uppercase;
    width: auto;
}

@media (min-width: 576px) {

    /* Desktop / tablet devices; 576px is the the bootstrap "sm" size */
    ul.navbar-nav {
        justify-content: end;
    }

    .content-container {
        max-width: 80%;
        margin: auto;
        margin-top: 80px;
    }

    img.logo-small {
        max-height: 2rem;
        margin-bottom: 3rem;
    }

    .floating-buttons {
        width: 4rem;
        height: 4rem;
    }

    .floating-buttons svg {
        top: 1.1rem;
        left: 1.2rem;
    }
}

@media (max-width: 575.98px) {

    /* Phone devices */
    .content-container {
        padding: 1rem;
    }

    img.logo-small {
        width: 100%;
        margin: 1rem 0 2rem 0;
    }

    .content-container h2 {
        margin-bottom: 1rem;
    }

    .content-container .download-changelog {
        font-size: 10pt;
    }

    h2.accordion-header {
        margin-bottom: 0;
    }

    .accordion-button {
        padding: 0.5rem 0;
    }

    .accordion-body {
        padding: 1rem 0;
    }

    .floating-buttons {
        width: 3rem;
        height: 3rem;
    }

    .floating-buttons svg {
        top: 0.5rem;
        left: 0.65rem;
    }

    table.overview-table th,
    table.overview-table td {
        font-size: 10pt;
        padding: 5px;
    }
}


.link {
    display: flex;
    border-bottom: var(--mitre-light-blue) solid 2px;
    min-width: fit-content;
    width: 50%;
    text-decoration: none;
    margin-top: 25px;
    padding-bottom: 10px;
}

.link h4 {
    font-size: 18px;
    color: var(--mitre-light-blue);
}

.link svg {
    height: 12px;
    margin: auto;
    margin-right: 0;
    margin-left: auto;
}

.form-select {
    border-radius: 0px;
    border: black 1px solid;
}

label {
    text-transform: uppercase;
    padding: 5px;
    padding-left: 0;
    margin-top: 15px;
    font-size: 18px;
}

button.purple {
    text-transform: uppercase;
    background-color: var(--mitre-blue);
    color: white;
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border: none;

}

h3 {
    color: var(--mitre-blue);
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
}

.invalid-feedback {
    display: none;
}

.invalid .invalid-feedback {
    display: block;
}

.invalid select {
    border: red solid 1px;
}


.light-purple {
    color: var(--mitre-light-blue);
}

.purple {
    color: var(--mitre-blue);
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: white;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    border-bottom: none;
}

.accordion-button::after {
    margin-left: 10px;
}

.accordion-header h5 {
    margin-bottom: 0;
}

.subnav a {
    color: black;
    text-decoration: none;
}

table {
    border: #333 solid 1px;
    width: 100%;
}

table td,
table th {
    border: #333 solid 1px;
    padding: 10px;
}

table th {
    background-color: #F0F1F2;
}

table .old {
    background-color: #FFD7D7;
    width: 50%;
    vertical-align: top;
}

table .new {
    background-color: #D8F9C8;
    width: 50%;
    vertical-align: top;
}

.small-link {
    display: flex;
    border-bottom: var(--mitre-blue) solid 1px;
    width: 250px;
    text-decoration: none;
    padding-bottom: 5px;
    padding-top: 20px;
    margin-bottom: 30px;
    color: var(--mitre-blue);
}
.small-link:hover {
    color: var(--mitre-navy);
    border-bottom-color: var(--mitre-navy);
}

.small-link span {
    margin-left: auto;
}

.small-link h5 {
    font-size: 14px;
    font-weight: bold;
}


.navbar-expand-lg,
.navbar-expand-lg a,
.navbar-link {
    background-color: var(--mitre-dark-navy);
    color: white;
    transition: none;
}

.navbar a:hover,
.navbar .active a,
.navbar .show {
    color: var(--mitre-light-blue);
}

.navbar-nav {
    width: 100%;
}

.nav-link {
    text-transform: uppercase;
}

.dropdown-menu.show {
    background-color: var(--mitre-dark-navy);
}

.dropdown-menu.show li:hover,
.dropdown-menu.show a:hover {
    background-color: inherit;
    color: var(--mitre-light-blue);
}

a.navbar-brand {
    margin-right: 0.4rem;
}

a.navbar-brand.version {
    background-color: inherit;
    border: none;
    color: var(--mitre-light-blue);
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: white !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    border-bottom: none;
}

.accordion-item p {
    color: var(--mitre-black);
}

.accordion-item.panel {
    border-left: none;
    border-right: none;
}

.accordion-item .right {
    margin-left: auto;
}

.change-details-table td,
.change-details-table th {
    font-size: smaller;
    padding: 5px;
}

.change-details h6 {
    margin-top: 10px;
    font-weight: bold;
}

.accordion-button::after {
    margin-left: 10px !important;
}

summary {
    margin-top: 8px;
}

table.diff-inline span.text-added {
    color: #1d8d1d;
    font-weight: bold;
}

table.diff-inline span.text-unchanged {
    color: var(--mitre-black);
}

table.diff-inline span.text-removed {
    color: #c90808;
    text-decoration: line-through;
}

table.diff-inline a,
table.diff-side-by-side a {
    font-weight: normal;
    text-decoration: none;
}

svg.download-icon {
    width: 1em;
    margin-top: -0.2em;
    margin-right: 0.2em;
    fill: #ffffff;
}

p.no-changes {
    color: var(--mitre-dark-gray);
    font: var(--bs-font-sans-serif);
    font-style: italic;
}
