<div class="accordion-item panel">
    <h2 class="accordion-header" id="flush-{{domain}}-{{changeType}}-{{ accordianId }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="flush-collapse-{{domain}}-{{changeType}}-{{ accordianId }}" aria-expanded="false" aria-controls="flush-collapse-{{domain}}-{{changeType}}-{{ accordianId }}">
          <h5 class="purple" style="padding-right: 20px;">{{itemId}}</h5>
          <h5>{{itemTitle}}</h5>
          {% if itemVersionChange %}
            <h5 class="purple right" style="text-transform: lowercase;">{{itemVersionChange}}</h5>
          {% endif %}
          {% if not itemVersionChange and itemVersionNew and not itemVersionOld %}
            <h5 class="purple right" style="text-transform: lowercase;">v{{itemVersionNew}}</h5>
          {% endif %}
          {% if not itemVersionChange and not itemVersionNew and itemVersionOld %}
            <h5 class="purple right" style="text-transform: lowercase;">v{{itemVersionOld}}</h5>
          {% endif %}
      </button>
    </h2>
    <div id="flush-collapse-{{domain}}-{{changeType}}-{{ accordianId }}" class="accordion-collapse collapse" aria-labelledby="flush-{{domain}}-{{changeType}}-{{ accordianId }}" data-bs-parent="#accordionFlush-{{domain}}-{{changeType}}">
      <div class="accordion-body">
        <!-- for changes: -->
        {% if itemVersionOld and itemVersionNew %}
            <table>
                <tr>
                    <th>Old Description</th>
                    <th>New Description</th>
                </tr>
                <tr>
                    <td class="old">{{itemDescriptionOld}}</td>
                    <td class="new">{{itemDescriptionNew}}</td>
                </tr>
            </table>
        {% endif %}
        <!-- for new techniques: -->
        {% if not itemVersionOld and itemVersionNew %} 
            <table>
                <tr>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>{{ itemDescriptionNew }}</td>
                </tr>
            </table>
        {% endif %}
        <!-- for revocations and deprecations: -->
        {% if not itemVersionNew and itemVersionOld %} 
            <table>
                <tr>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>{{ itemDescriptionOld }}</td>
                </tr>
            </table>
            <!-- for revoked objects, add another table after detailing revocation -->
            {% if itemRevokedId %}
                <h5>This object has been revoked by {{itemRevokedId}}</h5>
                <table>
                    <tr>
                        <th>Description for {{itemRevokedId}}</th>
                    </tr>
                    <tr>
                        <td>{{ itemRevokedDescription }}</td>
                    </tr>
                </table>
            {% endif %}
        {% endif %}
        <!-- <a class="link" href="">
            <h4>Learn More</h4>
            <svg xmlns="http://www.w3.org/2000/svg" width="47.893" height="28.406" viewBox="0 0 47.893 28.406">
            <path id="Path-8" data-name="Path 8" d="M2918.257,8207.378H2964.6l-17.74-12.765" transform="translate(-2918.257 -8194.207)" fill="none" stroke="#005B94" stroke-linejoin="round" stroke-width="3"/>
            <path id="Path-9" data-name="Path 9" d="M2946.037,8222.223l18.562-14.845h-24.734" transform="translate(-2918.257 -8194.207)" fill="none" stroke="#005B94" stroke-linejoin="round" stroke-width="3"/>
            </svg>          
        </a> -->
      </div>
    </div>
  </div>