{% import "./macros.html.j2" as macros %}
{% extends "nav-content.html.j2" %}

{% block title %}
{{ domain_name_to_label[current_domain] }} ATT&amp;CK {{ old_version }} → {{ new_version }} | ATT&amp;CK Sync
{% endblock %}

{% block content %}
<div class="content-container">
     <a href="https://ctid.mitre.org/" target="_blank"><img
            src="{{ url_prefix }}/static/logo-blue.svg" class="logo-small" alt="Center for Threat-Informed Defense"></a>
    <h4 class="eyebrow">Version {{ old_version }} to {{ new_version }}</h4>
    <h2>{{ domain_name_to_label[current_domain] }} ATT&amp;CK Changelog</h2>
    {{ macros.floating_buttons(current_domain) }}
    <div class="subnav">
        <ul>
            {%- for type_summary in type_summaries %}
            <li><a href="#{{type_summary['type']}}-summary">{{ type_name_to_label[type_summary["type"]] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if type_summaries | length == 0 %}
    <p class="no-changes">There are no changes to the {{ domain_name_to_label[current_domain] }} domain between v{{
        old_version }} and v{{
        new_version }}. Try
        choosing a different domain:
        {% for other_domain in other_domains %}
        <a href="{{ url_prefix }}/v{{ old_version }}-v{{ new_version }}/{{ other_domain }}/">{{
            domain_name_to_label[other_domain] }}</a>
        {% if not loop.last %}|{% endif %}
        {% endfor %}
    </p>
    {% endif %}
    {% for type_summary in type_summaries %}
    <div id="{{ type_summary.type }}-summary">
        <h4>{{ type_name_to_label[type_summary.type] }}</h4>
        <table class="overview-table">
            <tr>
                {% for change_type in change_types %}
                <th>{{ change_type.replace("_", " ") }}</th>
                {% endfor %}

            </tr>
            <tr>
                {%- for change_type in change_types %}
                <td style="width: 200px;">{{ type_summary[change_type] }}</td>
                {% endfor %}
            </tr>
        </table>
        <a class="small-link"
            href="{{ url_prefix }}/v{{ old_version }}-v{{ new_version }}/{{ current_domain }}/{{ type_summary.type }}/">
            <h5>View Details</h5>
            <span><i class="bi bi-arrow-right"></i></span>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
