{% import "./macros.html.j2" as macros %}
{% extends "nav-content.html.j2" %}

{% block title %}
{{ domain_name_to_label[current_domain] }} ATT&amp;CK {{ old_version }} → {{ new_version }} – ATT&amp;CK Sync
{% endblock %}

{% block content %}
<div style="max-width: 80%;margin: auto;margin-top:80px;">
    <a href="https://mitre-engenuity.org/cybersecurity/center-for-threat-informed-defense/"><img
            src="{{ url_prefix }}/static/logo-small.png" class="logo-small"></a>
    <h4 class="eyebrow">Version {{ old_version }} to {{ new_version }}</h4>
    <h2>{{ domain_name_to_label[current_domain] }} ATT&amp;CK Changelog</h2>
    {{ macros.floating_buttons(current_domain) }}
    <h6 class="download-changelog">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="download-icon">
            <path
                d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z">
            </path>
        </svg>
        Download <a download
            href="{{ url_prefix }}/v{{ old_version }}-v{{ new_version }}/attack-changelog-v{{ old_version }}-v{{ new_version }}.json">JSON
            Changelog</a> (includes all domains)
    </h6>
    <div class="subnav">
        <ul>
            {%- for type_summary in type_summaries %}
            <li><a href="#{{type_summary['type']}}-summary">{{ type_name_to_label[type_summary["type"]] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% for type_summary in type_summaries %}
    <div id="{{ type_summary.type }}-summary">
        <h4>{{ type_name_to_label[type_summary.type] }}</h4>
        <table class="overview-table">
            <tr>
                {% for change_type in change_types %}
                <th>{{ change_type.replace("_", " ") }}</th>
                {% endfor %}

            </tr>
            <tr>
                {%- for change_type in change_types %}
                <td style="width: 200px;">{{ type_summary[change_type] }}</td>
                {% endfor %}
            </tr>
        </table>
        <a class="small-link"
            href="{{ url_prefix }}/v{{ old_version }}-v{{ new_version }}/{{ current_domain }}/{{ type_summary.type }}/">
            <h5>View Details</h5>
            <span>→</span>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
