{% macro floating_buttons(current_domain) %}
<div class="floating-buttons">
  <a href="#" style="margin: auto;">
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>
  </a>
</div>
{% endmacro %}

{%- macro change_details_table(values) -%}
<table class="change-details-table">
  <tr>
    <th>FIELD</th>
    <th>OLD VALUE</th>
    <th>NEW VALUE</th>
  </tr>
  {%- for value in values -%}
  <tr>
    <td>{{value.stix}}</td>
    <td>{{value.old}}</td>
    <td>{{value.new}}</td>
  </tr>
  {%- endfor -%}
</table>
{%- endmacro %}
