{% macro floating_buttons(current_domain) %}
<div
  style="display: flex; background-color: #F0F1F2; width: 60px; height: 60px; border-radius: 50%; position: fixed; bottom: 5vh; right: 5vh; z-index: 300; margin: auto; text-align: center; vertical-align: middle;">
  <a href="#navbar" style="margin: auto;">
    <svg xmlns="http://www.w3.org/2000/svg" width="26.674" height="23.215" viewBox="0 0 26.674 23.215">
      <g id="Group_64" data-name="Group 64" transform="translate(-139.412 -122.199)">
        <path id="Path_10" data-name="Path 10" d="M18069.965,7102.156l-10.9-10.868-11.527,10.868"
          transform="translate(-17906 -6967)" fill="none" stroke="#2d2d2d" stroke-linecap="round" stroke-width="3" />
        <path id="Path_11" data-name="Path 11" d="M18069.965,7102.156l-10.9-10.868-11.527,10.868"
          transform="translate(-17906 -6958.863)" fill="none" stroke="#2d2d2d" stroke-linecap="round"
          stroke-width="3" />
      </g>
    </svg>
  </a>
</div>
<div
  style="display: flex; background-color: #F0F1F2; width: 60px; height: 60px; border-radius: 50%; position: fixed; bottom: 15vh; right: 5vh; z-index: 300; text-align: center; margin: auto; vertical-align: middle;">
  <a href="layer-{{current_domain}}.json" style="margin: auto;">
    <svg xmlns="http://www.w3.org/2000/svg" width="26.46" height="23.034" viewBox="0 0 26.46 23.034">
      <g id="Group_65" data-name="Group 65" transform="translate(-264.129 -113.482)">
        <g id="Group_61" data-name="Group 61" transform="translate(265.379 114.732)">
          <path id="Path_13" data-name="Path 13" d="M18188.4,7172.415v-16.178"
            transform="translate(-18176.492 -7156.237)" fill="none" stroke="#2d2d2d" stroke-linecap="round"
            stroke-width="2.5" />
          <path id="Path_14" data-name="Path 14" d="M0,0H6.4V23.96H0" transform="translate(23.96 14.136) rotate(90)"
            fill="none" stroke="#2d2d2d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" />
          <path id="Path_15" data-name="Path 15" d="M18193.416,7184.573l-6.342,4.317-6.123-4.317"
            transform="translate(-18175.203 -7172.43)" fill="none" stroke="#303030" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2.5" />
        </g>
      </g>
    </svg>
  </a>
</div>
{% endmacro %}

{%- macro change_details_table(values) -%}
<table class="change-details-table">
  <tr>
    <th>Field</th>
    <th>Old value</th>
    <th>New value</th>
  </tr>
  {%- for value in values -%}
  <tr>
    <td>{{value.stix}}</td>
    <td>{{value.old}}</td>
    <td>{{value.new}}</td>
  </tr>
  {%- endfor -%}
</table>
{%- endmacro %}
