{% extends "root.html.j2" %}

{% block body %}
<nav id="navbar" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="{{ url_prefix }}/">ATT&amp;CK SYNC</a>
            <a class="navbar-brand version"
                href="{{ url_prefix }}/v{{ old_version }}-v{{ new_version }}/{{ current_domain }}/">{{
                old_version }} →
                {{ new_version }}</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                    d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
            </svg>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                {% for type in types %}
                <li class="nav-item dropdown" id="{{type}}">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{type}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {% for domain in domains %}
                        <li><a class="dropdown-item"
                                href="{{ url_prefix }}/v{{old_version}}-v{{new_version}}/{{domain}}/{{type}}">{{domain.split("-")[0].upper()}}
                                ATT&amp;CK</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                <li class="nav-item dropdown" id="download">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-lg-none">Download</span>
                        <span class="d-none d-lg-inline">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="download-icon">
                                <path
                                    d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z">
                                </path>
                            </svg></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" aria-label="Download JSON Changelog">
                        <li><a class="dropdown-item" aria-label="Download JSON Changelog"
                                href="{{ url_prefix }}/v{{ old_version }}-v{{ new_version }}/attack-changelog-v{{ old_version }}-v{{ new_version }}.json.gz">Download
                                JSON
                                Changelog</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<div class="content-container">
    <footer>
        <p class="disclosures">MITRE Engenuity <a href="https://mitre-engenuity.org/privacy-policy/">Privacy
                Policy</a> • This project makes use of MITRE ATT&CK®: <a
                href="https://attack.mitre.org/resources/terms-of-use/">
                ATT&CK Terms of Use</a></p>
    </footer>
</div>
{% endblock %}
