<div style="display: flex; background-color: #F0F1F2; width: 70px; height: 70px; border-radius: 50%; position: fixed; bottom: 5vh; right: 5vh; z-index: 300; margin: auto; text-align: center; vertical-align: middle;">
    <a href="#navbar" style="margin: auto;">
        <svg xmlns="http://www.w3.org/2000/svg" width="33.654" height="29.336" viewBox="0 0 33.654 29.336">
            <g id="Group_60" data-name="Group 60" transform="translate(-138.707 -121.503)">
              <path id="Path_10" data-name="Path 10" d="M18075.533,7104.854l-13.611-13.566-14.389,13.566" transform="translate(-17906 -6967)" fill="none" stroke="#2d2d2d" stroke-linecap="round" stroke-width="4"/>
              <path id="Path_11" data-name="Path 11" d="M18075.533,7104.854l-13.611-13.566-14.389,13.566" transform="translate(-17906 -6956.843)" fill="none" stroke="#2d2d2d" stroke-linecap="round" stroke-width="4"/>
            </g>
        </svg>
    </a>
</div>
{%- if domain %}
<div style="display: flex; background-color: #F0F1F2; width: 70px; height: 70px; border-radius: 50%; position: fixed; bottom: 15vh; right: 5vh; z-index: 300; text-align: center; margin: auto; vertical-align: middle;">
    <a href="layer-{{domain}}.json" style="margin: auto;">
        <svg xmlns="http://www.w3.org/2000/svg" width="38.201" height="33.168" viewBox="0 0 38.201 33.168" style="margin: auto;">
            <g id="Group_62" data-name="Group 62" transform="translate(-263.879 -113.232)">
              <g id="Group_61" data-name="Group 61">
                <path id="Path_13" data-name="Path 13" d="M18188.4,7180v-23.768" transform="translate(-17905.527 -7041.505)" fill="none" stroke="#2d2d2d" stroke-linecap="round" stroke-width="3"/>
                <path id="Path_14" data-name="Path 14" d="M18179,7156.237h9.4v35.2h-9.4" transform="translate(7456.816 -18043.5) rotate(90)" fill="none" stroke="#2d2d2d" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                <path id="Path_15" data-name="Path 15" d="M18199.264,7184.572l-9.318,6.343-8.994-6.343" transform="translate(-17907.129 -7052)" fill="none" stroke="#303030" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              </g>
            </g>
          </svg>
    </a>
</div>
{%- endif %}