{% extends "root.html.j2" %}

{% block body %}
<nav id="navbar" class="navbar navbar-expand-lg">
    <div class="container">
        <div>
            <a class="navbar-brand" href="{{ url_prefix }}/">ATT&amp;CK SYNC</a>
            <a class="navbar-brand version"
                href="{{ url_prefix }}/v{{ old_version }}-v{{ new_version }}/{{ current_domain }}/">v{{
                old_version }} <i class="bi bi-arrow-right"></i>
                v{{ new_version }}</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                    d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
            </svg>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" id="techniques">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Techniques
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for domain in domains %}
                        <li><a class="dropdown-item"
                                href="{{ url_prefix }}/v{{old_version}}-v{{new_version}}/{{domain}}/techniques">{{domain.split("-")[0].upper()}}
                                ATT&amp;CK</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Defenses
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropstart">
                            <div class="nav-item-header">Data Sources</div>
                            <ul>
                            {% for domain in domains %}
                                <li><a class="dropdown-item"
                                        href="{{ url_prefix }}/v{{old_version}}-v{{new_version}}/{{domain}}/datasources">{{domain.split("-")[0].upper()}}
                                        ATT&amp;CK</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropstart">
                                <div class="nav-item-header"> Mitigations</div>
                                <ul>
                                {% for domain in domains %}
                                    <li><a class="dropdown-item"
                                            href="{{ url_prefix }}/v{{old_version}}-v{{new_version}}/{{domain}}/mitigations">{{domain.split("-")[0].upper()}}
                                            ATT&amp;CK</a>
                                    </li>
                                {% endfor %}
                                </ul>
                        </li>
                         <li class="nav-item dropstart">
                            <div class="nav-item-header">Data Components</div>
                            <ul>
                            {% for domain in domains %}
                                <li><a class="dropdown-item"
                                        href="{{ url_prefix }}/v{{old_version}}-v{{new_version}}/{{domain}}/datacomponents">{{domain.split("-")[0].upper()}}
                                        ATT&amp;CK</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    CTI
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropstart">
                            <div class="nav-item-header">Groups</div>
                            <ul>
                            {% for domain in domains %}
                                <li><a class="dropdown-item"
                                        href="{{ url_prefix }}/v{{old_version}}-v{{new_version}}/{{domain}}/groups">{{domain.split("-")[0].upper()}}
                                        ATT&amp;CK</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    <li class="nav-item dropstart">
                            <div class="nav-item-header">Software</div>
                            <ul>
                            {% for domain in domains %}
                                <li><a class="dropdown-item"
                                        href="{{ url_prefix }}/v{{old_version}}-v{{new_version}}/{{domain}}/software">{{domain.split("-")[0].upper()}}
                                        ATT&amp;CK</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropstart">
                            <div class="nav-item-header">Campaigns</div>
                            <ul>
                            {% for domain in domains %}
                                <li><a class="dropdown-item"
                                        href="{{ url_prefix }}/v{{old_version}}-v{{new_version}}/{{domain}}/campaigns">{{domain.split("-")[0].upper()}}
                                        ATT&amp;CK</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="download">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-lg-none">Download</span>
                        <span class="d-none d-lg-inline">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="download-icon">
                                <path
                                    d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z">
                                </path>
                            </svg></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" aria-label="Download JSON Changelog">
                        <li><a class="dropdown-item" aria-label="Download JSON Changelog"
                                href="{{ url_prefix }}/v{{ old_version }}-v{{ new_version }}/attack-changelog-v{{ old_version }}-v{{ new_version }}.json.gz">Download
                                JSON
                                Changelog</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" id="content">
{% block content %}
{% endblock %}
</div>

<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row gy-4">
                <div class="col-md-6 col-sm-12 footer-info">
                    <h3>The Center for Threat-Informed Defense</h3>
                    <p>The <a href="https://ctid.mitre.org/" target="_blank">Center for Threat-Informed Defense</a> 
                    is a non-profit, privately funded research and development organization. Our mission is to 
                    advance the state of the art and the state of the practice in threat-informed defense globally.
                    </p>
                    <div class="footer-row">
                    <a href="https://ctid.mitre.org/" target="_blank" title="The Center for Threat-Informed Defense" class="logo navbar-brand">
                        <img src="{{ url_prefix }}/static/logo-white.svg" width="250" height="59" alt="The Center for Threat-Informed Defense" class="logo-img">
                    </a>
                    
                    <div class="social-links d-flex">
                        <a href="mailto:ctid@mitre.org?subject=Mappings%20Explorer" class="email"><i class="bi bi-envelope"></i></a>
                        <a href="https://www.linkedin.com/showcase/center-for-threat-informed-defense/" target="blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.youtube.com/playlist?list=PLALq3Th79NnpUkRy8TUYVBKvysCp9xwNh" target="blank" class="youtube"><i class="bi bi-youtube"></i></a>
                        <a href="https://github.com/center-for-threat-informed-defense/mappings-explorer" target="blank" class="github"><i class="bi bi-github"></i></a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6 footer-links">
                    <h4>Related Links</h4>
                    <ul>
                    <li><i class="bi bi-dash"></i> <a href="https://ctid.mitre.org/" target="_blank">About the Center</a></li>
                    <li><i class="bi bi-dash"></i> <a href="https://ctid.mitre.org/privacy/" target="_blank">Privacy Policy</a></li>
                    <li><i class="bi bi-dash"></i> <a href="https://ctid.mitre.org/terms/" target="_blank">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-6 footer-links">
                    <h4>Related Projects</h4>
                    <ul>
                    <li><i class="bi bi-dash"></i> <a href="https://center-for-threat-informed-defense.github.io/mappings-explorer/" target="_blank">Mappings Explorer</a></li>
                    <li><i class="bi bi-dash"></i> <a href="https://center-for-threat-informed-defense.github.io/attack-flow/" target="_blank">Attack Flow</a></li>
                    <li><i class="bi bi-dash"></i> <a href="https://center-for-threat-informed-defense.github.io/threat-modeling-with-attack/" target="_blank">Threat Modeling with ATT&CK</a></li>
                    <li><i class="bi bi-dash"></i> <a href="https://center-for-threat-informed-defense.github.io/summiting-the-pyramid/" target="_blank">Summiting the Pyramid</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
