{% extends "root.html.j2" %}

{% block body %}
<div class="home">
    <div class="blue">
        <div class="blue-content">
            <a href="https://mitre-engenuity.org/cybersecurity/center-for-threat-informed-defense/"><img
                    src="{{ url_prefix }}/static/logo-white.svg" style="height: 25px; margin-bottom: 20px;" alt="Center for Threat-Informed Defense" /></a>
            <h1>ATT&amp;CK <span>Sync</span></h1>
            <p>PUT SOME CONTENT HERE
            </p>
            <a class="link" href="{{ url_prefix }}/about">
                <h4>Learn More</h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="47.893" height="28.406" viewBox="0 0 47.893 28.406">
                    <path id="Path_8" data-name="Path 8" d="M2918.257,8207.378H2964.6l-17.74-12.765"
                        transform="translate(-2918.257 -8194.207)" fill="none" stroke="#C2EAF6" stroke-linejoin="round"
                        stroke-width="4" />
                    <path id="Path_9" data-name="Path 9" d="M2946.037,8222.223l18.562-14.845h-24.734"
                        transform="translate(-2918.257 -8194.207)" fill="none" stroke="#C2EAF6" stroke-linejoin="round"
                        stroke-width="4" />
                </svg>
            </a>
        </div>
    </div>
    <div class="right">
        PUT SOME CONTENT HERE
    </div>
</div>
{% endblock %}
