<div class="subnav">
    <ul>
        {% if newItems %}
        <li><a href="#{{domain}}_{{category}}_additions">New {{ category }}</a></li>
        {% endif %}
        {% if changedItems %}
        <li><a href="#{{domain}}_{{category}}_version_changes">Changed {{ category }}</a></li>
        {% endif %}
        {% if revokedItems %}
        <li><a href="#{{domain}}_{{category}}_revocations">Revoked {{ category }}</a></li>
        {% endif %}
        {% if deprecatedItems %}
        <li><a href="#{{domain}}_{{category}}_deprecated">Deprecated {{ category }}</a></li>
        {% endif %}
    </ul>
</div>